#searchPanel {
  position: absolute;
  top: 0;
  padding: 2px 6px;
  height: 41px;
  width: 100%;
}
#filter {
  position: absolute;
  height: 292px;
  bottom: 41px;
  width: 100%;
  background-color: #dedede;
  padding: 4px;
}
#filter .float-btn {
  position: absolute;
  top: 2px;
  right: 4px;
  text-align: center;
  width: 60px;
}
#filter .line-point {
  padding: 2px 6px;
  text-align: center;
}
#filter .line-point span {
  display: inline-block;
  font-size: 14px;
  padding: 4px 4px;
  width: 60px;
  text-align: center;
  margin: 0;
}
#stPanel {
  position: absolute;
  bottom: 0;
  height: 38px;
  width: 100%;
  background-color: aliceblue;
}
#stPanel #statInfo {
  position: absolute;
  left: 2px;
  bottom: 6px;
  color: #0062cc;
}
#stPanel #btnShowFilter {
  position: absolute;
  right: 12px;
  bottom: 10px;
  font-size: 18px;
}
#stPanel #stat {
  margin-left: 28px;
  margin-right: 30px;
  padding: 3px;
  font-size: 14px;
  line-height: 16px;
}
.mui-android .mui-pull-top-pocket {
  top: 38px;
}
li.mui-table-view-cell a .carCity-title {
  color: #000000;
  font-size: 17px;
  line-height: 21px;
}
li.mui-table-view-cell a .customer-title {
  color: #000000;
  font-size: 17px;
  line-height: 21px;
}
li.mui-table-view-cell a .customer-fullName {
  color: #333333;
  font-size: 14px;
  line-height: 16px;
}
li.mui-table-view-cell a .order-quantity {
  float: left;
  width: 60px;
  height: 70px;
  text-align: center;
  font-size: 28px;
  padding-top: 18px;
  color: #007aff;
  overflow: hidden;
}
li.mui-table-view-cell a .order-quantity .unit {
  font-size: 12px;
}
li.mui-table-view-cell a .order-detail .order-to {
  color: darkgreen;
}
li.mui-table-view-cell a .order-detail .order-fee {
  color: darkred;
}
li.mui-table-view-cell a.btn-order-edit.mui-navigate-right:after {
  top: 30px;
}
li.mui-table-view-cell a.mui-btn.btn-order-delete {
  top: 30px;
}
li.mui-table-view-cell a.mui-btn.btn-order-print {
  top: 108px;
  padding-left: 5px;
  padding-right: 5px;
}
.mui-input-row a label {
  color: #000;
}
