#searchPanel {
  position: absolute;
  top: 0;
  padding: 2px 6px;
  height: 41px;
  width: 100%;
}
.multi-input-row {
  width: 100%;
  display: block;
  height: 40px;
}
.multi-input-row .col-1,
.multi-input-row .col-2,
.multi-input-row .col-3,
.multi-input-row .col-4,
.multi-input-row .col-5,
.multi-input-row .col-6,
.multi-input-row .col-7,
.multi-input-row .col-8,
.multi-input-row .col-9,
.multi-input-row .col-10.col-11,
.multi-input-row .col-12 {
  float: left;
}
.multi-input-row .col-3 {
  width: 25%;
}
.multi-input-row .col-4 {
  width: 33%;
}
.multi-input-row .col-6 {
  width: 50%;
}
#filter {
  width: 100%;
  background-color: #dedede;
  padding: 4px;
  margin-bottom: 40px;
}
#filter .filter-shortcuts {
  position: relative;
  clear: both;
}
#filter .filter-shortcuts label {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.1;
  float: left;
  width: 80px;
  padding: 11px 15px;
}
#filter .filter-shortcuts ul {
  margin: 0 0 0 30px;
  padding: 2px 0;
  list-style: none;
}
#filter .filter-shortcuts ul li {
  cursor: pointer;
  display: inline-block;
  color: #666;
  margin: 2px 1px;
  padding: 4px;
  font-size: 14px;
  border: solid 1px #ddd;
  position: relative;
}
#filter .filter-shortcuts ul li.active {
  border: solid 2px #cf2d28;
  padding: 3px;
  border-bottom: solid 2px #cf2d28;
}
#filter .filter-shortcuts ul li.active:after {
  content: '';
  width: 12px;
  height: 12px;
  background: url(checked.png);
  position: absolute;
  bottom: 0;
  right: 0;
}
#filter .filter-shortcuts .bottom-line {
  clear: both;
  margin-left: 15px;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
}
#filter .filter-shortcuts:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 15px;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #c8c7cc;
}
#filter .multi-input-row.date-from-to label {
  padding-right: 2px;
}
#filter .multi-input-row.date-from-to input {
  font-size: 14px;
}
#filter .multi-input-row.select-outlet label {
  padding-right: 2px;
}
#filter .multi-input-row.select-outlet input {
  font-size: 14px;
}
#filter .float-btn {
  width: 60px;
}
#filter .float-btn.btn-today {
  width: 30px;
  padding: 10px 2px;
}
#filter .float-btn.btn-clear-outlet {
  width: 30px;
  padding: 10px 0px;
}
#filter .line-point {
  padding: 2px 6px;
  text-align: center;
}
#filter .line-point span {
  display: inline-block;
  font-size: 14px;
  padding: 4px 4px;
  width: 55px;
  text-align: center;
  margin: 0;
}
#filter.lineInstance {
  height: 190px;
}
#stPanel {
  position: fixed;
  bottom: 0;
  height: 38px;
  width: 100%;
  background-color: aliceblue;
}
#stPanel #statInfo {
  position: absolute;
  left: 2px;
  bottom: 6px;
  color: #0062cc;
}
#stPanel #btnShowFilter {
  position: absolute;
  right: 12px;
  bottom: 10px;
  font-size: 18px;
}
#stPanel #stat {
  margin-left: 28px;
  margin-right: 30px;
  padding: 3px;
  font-size: 14px;
  line-height: 16px;
}
.mui-android.mt38-fixed .mui-pull-top-pocket {
  top: 38px;
}
li.mui-table-view-cell a.btn-edit .carCity-title {
  color: #000000;
  font-size: 17px;
  line-height: 21px;
}
li.mui-table-view-cell a.btn-edit .customer-title {
  color: #000000;
  font-size: 17px;
  line-height: 21px;
}
li.mui-table-view-cell a.btn-edit .customer-fullName {
  color: #333333;
  font-size: 14px;
  line-height: 16px;
}
li.mui-table-view-cell a.btn-edit .lineInstance-title {
  color: #000000;
  font-size: 17px;
  line-height: 21px;
  padding-left: 6px;
}
li.mui-table-view-cell a.btn-edit .lineInstance-date {
  color: #333333;
  font-size: 14px;
  line-height: 16px;
}
li.mui-table-view-cell a.btn-edit .order-quantity {
  float: left;
  width: 60px;
  height: 70px;
  text-align: center;
  font-size: 24px;
  padding-top: 3px;
  color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
li.mui-table-view-cell a.btn-edit .order-quantity .unit {
  font-size: 12px;
}
li.mui-table-view-cell a.btn-edit .order-other {
  font-size: 12px;
  line-height: 14px;
}
li.mui-table-view-cell a.btn-edit .order-detail {
  padding-left: 60px;
}
li.mui-table-view-cell a.btn-edit .order-detail .order-to {
  color: darkgreen;
}
li.mui-table-view-cell a.btn-edit .order-detail .order-fee {
  color: darkred;
}
li.mui-table-view-cell .line-flag {
  float: left;
}
li.mui-table-view-cell .lineInstance-log {
  color: #333;
  padding-left: 23px;
  white-space: normal;
  padding-right: 85px;
}
li.mui-table-view-cell .lineInstance-log.lineInstance-order-log {
  padding-right: 55px;
}
li.mui-table-view-cell ul.lineInstance-logs {
  font-size: 13px;
  color: #999;
  padding-left: 26px;
}
li.mui-table-view-cell ul.lineInstance-logs li {
  list-style: none;
  white-space: normal;
}
li.mui-table-view-cell a.btn-receive-group .carCity-title {
  color: #000000;
  font-size: 17px;
  line-height: 21px;
}
li.mui-table-view-cell a.btn-receive-group .customer-title {
  color: #000000;
  font-size: 17px;
  line-height: 21px;
}
li.mui-table-view-cell a.btn-receive-group .customer-fullName {
  color: #333333;
  font-size: 14px;
  line-height: 16px;
}
li.mui-table-view-cell a.btn-receive-group .order-quantity {
  float: left;
  width: 60px;
  text-align: center;
  font-size: 28px;
  padding-top: 6px;
  margin-top: -4px;
  margin-bottom: -4px;
  color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
li.mui-table-view-cell a.btn-receive-group .order-quantity .unit {
  font-size: 12px;
}
li.mui-table-view-cell a.btn-receive-group .order-other {
  font-size: 12px;
  line-height: 16px;
}
li.mui-table-view-cell a.btn-receive-group .order-detail .order-to {
  color: darkgreen;
  font-size: 16px;
}
li.mui-table-view-cell a.btn-receive-group .order-detail .order-fee {
  color: darkred;
}
li.mui-table-view-cell a.btn-edit.btn-receive-item .order-quantity {
  float: left;
  width: 60px;
  height: auto;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: -2px;
  color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
li.mui-table-view-cell a.btn-edit.btn-receive-item .order-quantity .unit {
  font-size: 10px;
}
li.mui-table-view-cell a.btn-edit.btn-receive-item .order-other {
  font-size: 10px;
  line-height: 14px;
}
li.mui-table-view-cell a.btn-edit.btn-receive-item .order-detail .order-to {
  color: darkgreen;
  font-size: 16px;
}
li.mui-table-view-cell a.btn-edit.btn-receive-item .order-detail .order-fee {
  color: darkred;
}
li.mui-table-view-cell a.btn-order-edit.mui-navigate-right:after {
  top: 30px;
}
li.mui-table-view-cell a.mui-btn.btn-order-delete {
  top: 27px;
}
li.mui-table-view-cell a.mui-btn.btn-add-log {
  top: 30px;
}
li.mui-table-view-cell a.mui-btn.btn-logs {
  top: 65px;
}
li.mui-table-view-cell a.mui-btn.btn-order-print {
  top: 62px;
  padding-left: 5px;
  padding-right: 5px;
}
li.mui-table-view-cell a.mui-btn.btn-order-pay {
  top: 62px;
  right: 72px;
}
li.mui-table-view-cell a.mui-btn.btn-print.btn-orderstat-print {
  top: 24px;
  padding-left: 5px;
  padding-right: 5px;
}
li.mui-table-view-cell a.mui-btn.btn-orderstat-pay {
  top: 24px;
  right: 72px;
}
li.mui-table-view-cell a.mui-btn.btn-logs.btn-order-logs {
  top: 97px;
  padding-left: 5px;
  padding-right: 5px;
}
a.mui-btn.btn-print.btn-orderstat-print {
  position: absolute;
  right: 15px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -ms-transform: translateY(7px);
  -o-transform: translateY(7px);
  transform: translateY(7px);
  z-index: 1;
}
a.mui-btn.btn-orderstat-pay {
  position: absolute;
  right: 72px;
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -ms-transform: translateY(7px);
  -o-transform: translateY(7px);
  transform: translateY(7px);
  z-index: 1;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell.table-view-cell-padding-fix-less {
  background-color: #dfdfdf;
  padding: 8px 15px;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell.table-view-cell-padding-fix-less > a:not(.mui-btn) {
  margin: -8 -15px;
}
.mui-table-view-cell.mui-collapse.mui-active .mui-table-view-cell.table-view-cell-padding-fix-less > a:not(.mui-btn).mui-active {
  padding: 8px 15px;
  margin-left: -15px;
}
.mui-input-row a label {
  color: #000;
}
.list-fixed-top96 {
  position: absolute;
  top: 96px;
  width: 100%;
  bottom: 0;
  overflow: auto;
}
.select-line-outlet .outlets {
  position: absolute;
  top: 50%;
  bottom: 96px;
  width: 50%;
  background-color: #fff;
  border-bottom: solid 1px #dddddd;
}
.select-line-outlet .outlets .title {
  background-color: #dddddd;
  padding: 6px;
}
.select-line-outlet .outlets ul.outlet-list {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 33px 0 0 0;
  padding: 0;
  overflow: auto;
  list-style: none;
  background-color: #fdfdfd;
}
.select-line-outlet .outlets ul.outlet-list li {
  padding: 8px 6px 8px 16px;
  color: #666;
  border-bottom: solid 1px #eeeeee;
}
.select-line-outlet .outlets ul.outlet-list li.active {
  color: #fff;
  background-color: #007aff;
}
.select-line-outlet .start-outlet {
  left: 0;
  border-right: solid 2px #dddddd;
}
.select-line-outlet .end-outlet {
  left: 50%;
}
.select-line-outlet .line-text {
  position: absolute;
  width: 100%;
  height: 32px;
  bottom: 64px;
  padding: 5px 10px;
}
